.regularText {
  font-family: "Inter", Courier, monospace;
  font-size: 1.2vw;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.mediumText {
  font-family: "Inter", Courier, monospace;
  font-size: 1.7vw;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.light {
  font-family: "Inter", Courier, monospace;
  font-size: 1.3vw;
  color: white;
  margin-bottom: 8px;
  font-weight: 400;
  opacity: 0.5;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.weatherFont {
  font-family: "Inter", Courier, monospace;
  font-size: 10vw;
  color: white;
  margin-bottom: 8px;
  font-weight: 500;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
