.searchInputwrpr {
  background-color: rgba(240, 248, 255, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 14px;
  width: 100%;
}
.searchform {
  width: 100%;
  display: flex;
  align-items: center;
}
.searchIcon {
  padding: 14px;
  margin-left: 14px;
}
.GoogleIcon,
.EnterIcon {
  width: 24px;
  height: auto;
  padding: 14px;
  margin-left: 14px;
}
.EnterIcon {
  margin-right: 14px;
}

input[type="text"] {
  padding: 20px 14px;
  border-radius: 14px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  color: white;
  font-size: 20px;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}
::placeholder {
  color: white;
  opacity: 0.3; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: white;
  opacity: 0.3;
}
