.HudCover {
    height: 100vh;
    padding: 80px 70px;
    box-sizing: border-box;
}
.Hudwrpr {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.topSectin,.Bottomsection,.centerSection{
    display: flex;
    justify-content: space-between;
    /* margin: 10vh; */
}
.datacover {
    display: flex;
    justify-content: center;
}
.weatherDetwrpr {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}
.cursor {
    cursor: pointer;
}
.weatherDegWrpr {
    display: flex;
    flex-direction: column;
}
#Precipit {
 margin-right: 14px;
}
.Bottomsection {
    align-items: center;
}